:root {
    --color-text-primary: #56585A;
    --color-primary:#3497F9;
    --color-text-secondary: #96999C;
    --color-text-headline: #3E454D;
    --color-navbar-elements: #7F8F98;

    --font-robot: "Roboto";
}